@import url('https://fonts.googleapis.com/css?family=Montserrat');


body{
    margin: 2rem 0;
    font-family: Montserrat, sans-serif;
    color: rgb(190, 11, 36);
    font-weight:bold;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    
}

section{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

section article{
    width: 48.5%;
    border: 0.7px solid black;
    border-radius: 1em;
    margin-bottom: 2rem;
}

section article img{
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
}

section article p{
    color: rgb(190, 11, 36);
    padding-left: 10px;
    font-weight: bold;
}


aside h4{
    margin: 0;
}

aside{
    width: 32%;
}


